.calendar-title {
    text-align: center;
    font-size: 28px;
    margin: 50px 0px ;
}
.content-display {
    display: flex;
    justify-items: center;
    margin: 50px 0px;
}
.date-title-input-grid {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.date-title-btn {
    display: flex;
}
.dates-title {
    grid-column: 1;
    grid-row: 1;
    margin-right: 20px;
    font-size: 23px;
}
.add-date-btn {
    grid-column: 1;
    grid-row: 1;
}
/* .main-display {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.content-display {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
 */