.assignment-input {
    display: flex;
    flex-direction: column;
    margin: 20px 30px 20px 25px;
    padding: 10px 20px;
    border: 2px solid rgb(0, 0, 0);
}
.input-item {
    margin: 5px 0px;
}
.assignment-input-area {
    margin-left: 20px;
}
.name-input {
    margin-right: 65px;
}
.input-bottom {
    display: flex;
}
.subject-input {
    margin-right: 20px;
}
.close-menu-btn {
    color: red;
    margin-right: 0px;
    cursor: pointer;
}
.show-assignment-input {
    margin: 20px 80px;
    padding: 10px 20px;
    cursor: pointer;
}