.assignment-display {
    display: flex;
}
.assignment-section {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.assignment {
    margin: 20px 0px;
    display: flex;
    align-items: center;
}
.assignment-card {
    width: 270px;
    height: 70px;
    line-height: 30px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 10px 10px;
    margin: 5px;
    margin-left: 0px;
    background-color: rgb(238, 238, 238);
    font-family: 'Apple Chancery', 'Arial', 'Times New Roman';
}
.top-of-card {
    margin-left: 20px;
}
.assignment-names {
    font-size: 20px;
    margin-left: 10px;
}
.complete-btn {
    margin-left: 20px;
    width: 30px;
    height: 30px;
    color:rgb(172, 172, 172);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    margin-right: 20px;
}
.completed-btn-success {
    color: green;
}
.complete-card-success {
    opacity: 0.4;
}
.delete-btn {
    margin-right: 10px;
    margin-top: 5px;
}
.assignment-date {
    text-align: left;
    margin-left: 5px;
}