.assignment-display {
    display: flex;
}
.assignment-section {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}
.assignment {
    margin: 20px 50px;
    display: flex;
    align-items: center;
    background-color: rgb(201, 201, 201);
}
.assignment-card {
    width: 270px;
    height: 80px;
    max-height: 80px;
    line-height: 30px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 10px 10px;
    margin: 5px;
    margin-left: 0px;
    background-color: rgb(201, 201, 201);
    font-family: 'Apple Chancery', 'Arial', 'Times New Roman';
}
.top-of-card {
    margin-left: 20px;
    background-color: rgb(201, 201, 201);
}
.assignment-names {
    font-size: 20px;
    margin-left: 10px;
    background-color: rgb(201, 201, 201);
}
.complete-btn {
    margin-left: 5px;
    width: 30px;
    height: 30px;
    color:rgb(255, 255, 255);
    background-color: rgb(201, 201, 201);
    cursor: pointer;
    margin-right: 20px;
}
.completed-btn-success {
    color: green;
    opacity: 1;
}
.complete-card-success {
    opacity: 0.25;
}
.delete-btn {
    margin-right: 10px;
    margin-top: 5px;
    background-color: rgb(201, 201, 201);
}
.assignment-date {
    text-align: left;
    margin-left: 5px;
    background-color: rgb(201, 201, 201);
    line-height: 20px;
}