.dates-input {
    grid-column: 1;
    margin: 20px 70px 20px 60px;
    padding: 10px 20px;
    justify-items: center;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(0, 0, 0);
}
.input-label {
    margin-bottom: 10px;
}
.input-and-submit {
    display: flex;
}
.date-input-area {
    margin-right: 10px;
}