.date-section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.add-assignment-top {
    display: flex;
    margin: 0px;
} 
.date-delete-btn {
    margin-right: 125px;
}
.add-assignment-btn {
    margin-left: 125px;
}
.flip-arrow-down {
    animation: flipArrowUp 0.5s forwards;
}
.flip-arrow-up {
    animation: flipArrowDown 0.5s forwards;
}

@keyframes flipArrowDown {
    0% {transform:rotateX(0deg);}
    100% {transform: rotateX(180deg);}
}
@keyframes flipArrowUp {
    0% {transform:rotateX(180deg);}
    100% {transform: rotateX(0deg);}
}


