header {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 105, 44);
    padding-bottom: 20px;
}
.main-title {
    margin-top: 50px;
    padding: 10px 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 105, 44);
}